#include "Resource.h"
#include <windows.h>
#include "commctrl.h"

IDI_EXPLORERICON ICON "res\\pitside.ico"
IDB_SPLASHIMAGE BITMAP "res\\splash.bmp"

IDD_DLGFIRST DIALOG 100, 100, 745, 350
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
CAPTION "Pitside"
FONT 8, "MS Shell Dlg"
MENU IDM_OPTIONS
BEGIN
    CONTROL         "", IDC_LAPS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS, 0,150,150,200
    LTEXT           "",IDC_DISPLAY,155,63,590,282
    LTEXT           "",IDC_SUBDISPLAY,520,0,225,63
    AUTORADIOBUTTON "Map",IDC_DISPLAYTYPE_LINE,155,0,30,12
    AUTORADIOBUTTON "Data Plot",IDC_DISPLAYTYPE_PLOT,185,0,45,12
    //AUTORADIOBUTTON "Reception",IDC_DISPLAYTYPE_RECEPTION,230,0,50,12
    CONTROL         "", IDC_XAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 0,0,75,150
    CONTROL         "", IDC_YAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS, 75,0,75,150

    EDITTEXT        IDC_COMMENTTEXT,155,12,93,12
    LTEXT           "", IDC_CURRENTREFERENCE,155,26,93,24
    PUSHBUTTON      "Set Comment", IDC_SETDRIVER, 250,0,75,12
    PUSHBUTTON      "Use as reference lap", IDC_SETREFERENCE, 250,14,75,12
    PUSHBUTTON      "Clear Selection", IDC_CLEARSELECTION, 250,28,75,12

    LTEXT           "", IDC_MESSAGESTATUS,155,43,93,12
    PUSHBUTTON      "Send Message", IDC_SENDMESSAGE, 250,42,75,12
    //LTEXT           "", IDC_CURRENTIP, 155,43,100,10
    LTEXT           "", IDC_CURRENTREMOTEIP, 155,55,100,10
    LTEXT           "1: ", IDC_VALUE_CHANNEL1,328,0,190,12
    LTEXT           "2: ", IDC_VALUE_CHANNEL2,328,12,190,12
    LTEXT           "3: ", IDC_VALUE_CHANNEL3,328,24,190,12
    LTEXT           "4: ", IDC_VALUE_CHANNEL4,328,36,190,12
    LTEXT           "5: ", IDC_VALUE_CHANNEL5,328,48,190,12
END

IDD_DLGSPLASH DIALOG 100,100,200,200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Welcome to Pitside"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_SPLASHIMAGE,"Static",SS_BITMAP,0,0,200,200
    PUSHBUTTON      "OK", IDOK, 0,180,200,20
END

IDD_DLGMESSAGE DIALOG 100, 100, 200, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pit->Car Message"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Message",IDC_LBLMESSAGE,5,5,100,12
    EDITTEXT        IDC_EDTMESSAGE,105,5,100,12
    LTEXT           "Time to display (min)",IDC_LBLTIME,5,19,100,12
    EDITTEXT        IDC_EDTTIME,105,19,100,12
    LTEXT           "Send attempt time (min)",IDC_LBLATTEMPTTIME,5,33,100,12
    EDITTEXT        IDC_EDTATTEMPTTIME,105,33,100,12
    PUSHBUTTON      "OK", IDOK, 5,47,100,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,47,100,12
END

// dialog for selecting which race in a DB we want to use
IDD_SELECTRACE DIALOG 100, 100, 200, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select race to load"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_RACE, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 0,0,200,180
    PUSHBUTTON      "OK", IDOK, 5,180,95,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,180,95,12
END

// dialog for selecting plotting preferences
IDD_PLOTPREFS DIALOG 50, 50, 370, 312
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
CAPTION "Choose plotting preferences"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "               Data Channel                                                      Display Type                    Low Limit       High Limit", IDC_PLOTTYPE_HEADERS,12,20,370,12
    LTEXT           " 1: ", IDC_PLOTTYPE_CHANNEL1,5,32,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH1,180,32,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE1,225,32,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT1,270,32,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT1,315,32,45,12
	LTEXT           " 2: ", IDC_PLOTTYPE_CHANNEL2,5,44,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH2,180,44,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE2,225,44,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT2,270,44,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT2,315,44,45,12
    LTEXT           " 3: ", IDC_PLOTTYPE_CHANNEL3,5,56,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH3,180,56,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE3,225,56,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT3,270,56,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT3,315,56,45,12
    LTEXT           " 4: ", IDC_PLOTTYPE_CHANNEL4,5,68,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH4,180,68,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE4,225,68,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT4,270,68,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT4,315,68,45,12
    LTEXT           " 5: ", IDC_PLOTTYPE_CHANNEL5,5,80,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH5,180,80,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE5,225,80,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT5,270,80,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT5,315,80,45,12
	LTEXT           " 6: ", IDC_PLOTTYPE_CHANNEL6,5,92,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH6,180,92,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE6,225,92,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT6,270,92,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT6,315,92,45,12
    LTEXT           " 7: ", IDC_PLOTTYPE_CHANNEL7,5,104,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH7,180,104,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE7,225,104,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT7,270,104,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT7,315,104,45,12
    LTEXT           " 8: ", IDC_PLOTTYPE_CHANNEL8,5,116,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH8,180,116,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE8,225,116,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT8,270,116,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT8,315,116,45,12
    LTEXT           " 9: ", IDC_PLOTTYPE_CHANNEL9,5,128,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH9,180,128,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE9,225,128,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT9,270,128,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT9,315,128,45,12
    LTEXT           "10: ", IDC_PLOTTYPE_CHANNEL10,5,140,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH10,180,140,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE10,225,140,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT10,270,140,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT10,315,140,45,12
    LTEXT           "11: ", IDC_PLOTTYPE_CHANNEL11,5,152,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH11,180,152,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE11,225,152,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT11,270,152,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT11,315,152,45,12
    LTEXT           "12: ", IDC_PLOTTYPE_CHANNEL12,5,164,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH12,180,164,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE12,225,164,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT12,270,164,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT12,315,164,45,12
    LTEXT           "13: ", IDC_PLOTTYPE_CHANNEL13,5,176,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH13,180,176,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE13,225,176,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT13,270,176,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT13,315,176,45,12
    LTEXT           "14: ", IDC_PLOTTYPE_CHANNEL14,5,188,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH14,180,188,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE14,225,188,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT14,270,188,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT14,315,188,45,12
    LTEXT           "15: ", IDC_PLOTTYPE_CHANNEL15,5,200,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH15,180,200,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE15,225,200,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT15,270,200,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT15,315,200,45,12
    LTEXT           "16: ", IDC_PLOTTYPE_CHANNEL16,5,212,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH16,180,212,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE16,225,212,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT16,270,212,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT16,315,212,45,12
    LTEXT           "17: ", IDC_PLOTTYPE_CHANNEL17,5,224,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH17,180,224,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE17,225,224,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT17,270,224,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT17,315,224,45,12
    LTEXT           "18: ", IDC_PLOTTYPE_CHANNEL18,5,236,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH18,180,236,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE18,225,236,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT18,270,236,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT18,315,236,45,12
    LTEXT           "19: ", IDC_PLOTTYPE_CHANNEL19,5,248,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH19,180,248,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE19,225,248,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT19,270,248,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT19,315,248,45,12
    LTEXT           "20: ", IDC_PLOTTYPE_CHANNEL20,5,260,175,12
    AUTORADIOBUTTON "Graph",IDC_PLOTTYPE_GRAPH20,180,260,45,12
    AUTORADIOBUTTON "Value",IDC_PLOTTYPE_VALUE20,225,260,45,12
    EDITTEXT        IDC_PLOTTYPE_LOWLIMIT20,270,260,45,12
	EDITTEXT        IDC_PLOTTYPE_HIGHLIMIT20,315,260,45,12
    PUSHBUTTON      "Rescan/Reset", IDC_PLOTTYPE_RESCAN, 90,275,180,12
    PUSHBUTTON      "OK", IDOK, 5,290,175,12
    PUSHBUTTON      "Cancel", IDCANCEL, 180,290,180,12
END


IDD_PROGRESS DIALOG 100, 100, 200, 30
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Working..."
FONT 8, "MS Shell Dlg"
BEGIN
END

IDM_OPTIONS MENU
BEGIN
POPUP "&File"
    BEGIN
        MENUITEM "Print...", ID_FILE_PRINT
        MENUITEM "Exit", ID_FILE_EXIT
    END
POPUP "&Edit"
    BEGIN
        MENUITEM "Copy", ID_EDIT_COPY
    END
POPUP "&Options"
    BEGIN
        MENUITEM "Km/h", ID_OPTIONS_KMH
        MENUITEM "MPH", ID_OPTIONS_MPH
        MENUITEM "m/s", ID_OPTIONS_MS
        MENUITEM SEPARATOR
        MENUITEM "Show all-time bests",ID_OPTIONS_SHOWBESTS
        MENUITEM "Show driver bests",ID_OPTIONS_SHOWDRIVERBESTS
        MENUITEM SEPARATOR
        MENUITEM "Draw lines between data points",ID_OPTIONS_DRAWLINES
        MENUITEM "Use dark background for plots",ID_OPTIONS_BACKGROUND
        MENUITEM SEPARATOR
        MENUITEM "Force plotted data to fixed scales",ID_OPTIONS_IOIO5VSCALE
        MENUITEM SEPARATOR
		MENUITEM "Plotting Options...",ID_OPTIONS_PLOTPREFS


    END
    POPUP "&Data"
    BEGIN
        MENUITEM "Switch Race Session", ID_DATA_SWITCHSESSION
        MENUITEM "Open .wflp DB", ID_DATA_OPENDB
		MENUITEM "Export selected laps to CSV format", ID_DATA_DASHWARE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Show IPs", ID_HELP_IPS
        MENUITEM "About", ID_HELP_ABOUT
    END
END
