#include "Resource.h"
#include <windows.h>
#include "commctrl.h"

IDI_EXPLORERICON ICON "res\\pitside.ico"

IDD_DLGFIRST DIALOG 100, 100, 640, 345
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
CAPTION "Pitside"
FONT 8, "MS Shell Dlg"
MENU IDM_OPTIONS
BEGIN
    CONTROL         "", IDC_LAPS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS, 0,0,150,350
    LTEXT           "",IDC_DISPLAY,155,100,490,245
    LTEXT           "",IDC_SUBDISPLAY,535,0,100,100
    AUTORADIOBUTTON "Map",IDC_DISPLAYTYPE_LINE,155,10,100,12
    AUTORADIOBUTTON "Data Plot",IDC_DISPLAYTYPE_PLOT,155,22,100,12
    CONTROL         "", IDC_XAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER, 155,34,50,66
    CONTROL         "", IDC_YAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER, 205,34,50,66

    EDITTEXT        IDC_COMMENTTEXT,255,10,100,12
    LTEXT           "", IDC_CURRENTREFERENCE,255,24,100,24
    PUSHBUTTON      "Set Comment", IDC_SETDRIVER, 357,10,100,12
    PUSHBUTTON      "Use as reference lap", IDC_SETREFERENCE, 357,24,100,12
    PUSHBUTTON      "Clear Selection", IDC_CLEARSELECTION, 357,38,100,12

    LTEXT           "", IDC_MESSAGESTATUS,255,52,100,28
    PUSHBUTTON      "Send Message", IDC_SENDMESSAGE, 357,52,100,12
    LTEXT           "", IDC_CURRENTIP, 357,66,100,12
    LTEXT           "", IDC_CURRENTREMOTEIP, 357,80,100,12
END

IDD_DLGMESSAGE DIALOG 100, 100, 200, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pit->Car Message"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Message",IDC_LBLMESSAGE,5,5,100,12
    EDITTEXT        IDC_EDTMESSAGE,105,5,100,12
    LTEXT           "Time to display (m)",IDC_LBLTIME,5,19,100,12
    EDITTEXT        IDC_EDTTIME,105,19,100,12
    LTEXT           "Send attempt time (m)",IDC_LBLATTEMPTTIME,5,33,100,12
    EDITTEXT        IDC_EDTATTEMPTTIME,105,33,100,12
    PUSHBUTTON      "OK", IDOK, 5,47,100,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,47,100,12
END

// dialog for selecting which race in a DB we want to use
IDD_SELECTRACE DIALOG 100, 100, 200, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select race to load"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_RACE, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 0,0,200,280
    PUSHBUTTON      "OK", IDOK, 5,280,95,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,280,95,12
END

IDD_PROGRESS DIALOG 100, 100, 200, 30
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Working..."
FONT 8, "MS Shell Dlg"
BEGIN
END

IDM_OPTIONS MENU
BEGIN
    POPUP "&Options"
    BEGIN
        MENUITEM "Km/h", ID_OPTIONS_KMH
        MENUITEM "MPH", ID_OPTIONS_MPH
        MENUITEM "m/s", ID_OPTIONS_MS
        MENUITEM SEPARATOR
        MENUITEM "Show all-time bests",ID_OPTIONS_SHOWBESTS
        MENUITEM "Show driver bests",ID_OPTIONS_SHOWDRIVERBESTS
        MENUITEM SEPARATOR
        MENUITEM "Draw lines between data points",ID_OPTIONS_DRAWLINES


    END
    POPUP "&Data"
    BEGIN
        MENUITEM "Clear all laps", ID_DATA_CLEAR
        MENUITEM "Open .wflp DB", ID_DATA_OPENDB
		MENUITEM "Export selected laps to DashWare", ID_DATA_DASHWARE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Show IPs", ID_HELP_IPS
    END
END