#include "Resource.h"
#include <windows.h>
#include "commctrl.h"

IDI_EXPLORERICON ICON "res\\pitside.ico"
IDB_SPLASHIMAGE BITMAP "res\\splash.bmp"

IDD_DLGFIRST DIALOG 100, 100, 640, 345
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
CAPTION "Pitside"
FONT 8, "MS Shell Dlg"
MENU IDM_OPTIONS
BEGIN
    CONTROL         "", IDC_LAPS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS, 0,0,150,350
    LTEXT           "",IDC_DISPLAY,155,63,490,282
    LTEXT           "",IDC_SUBDISPLAY,485,0,150,63
    AUTORADIOBUTTON "Map",IDC_DISPLAYTYPE_LINE,155,0,30,12
    AUTORADIOBUTTON "Data Plot",IDC_DISPLAYTYPE_PLOT,185,0,45,12
    //AUTORADIOBUTTON "Reception",IDC_DISPLAYTYPE_RECEPTION,230,0,50,12
    CONTROL         "", IDC_XAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER, 155,12,58,41
    CONTROL         "", IDC_YAXIS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER, 215,12,58,41

    EDITTEXT        IDC_COMMENTTEXT,275,0,80,12
    LTEXT           "", IDC_CURRENTREFERENCE,275,14,80,24
    PUSHBUTTON      "Set Comment", IDC_SETDRIVER, 357,0,100,12
    PUSHBUTTON      "Use as reference lap", IDC_SETREFERENCE, 357,14,100,12
    PUSHBUTTON      "Clear Selection", IDC_CLEARSELECTION, 357,28,100,12

    LTEXT           "", IDC_MESSAGESTATUS,275,38,80,13
    PUSHBUTTON      "Send Message", IDC_SENDMESSAGE, 357,42,100,12
    //LTEXT           "", IDC_CURRENTIP, 155,43,100,10
    LTEXT           "", IDC_CURRENTREMOTEIP, 155,53,100,10
END

IDD_DLGSPLASH DIALOG 100,100,200,200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Welcome to Pitside"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_SPLASHIMAGE,"Static",SS_BITMAP,0,0,200,200
    PUSHBUTTON      "OK", IDOK, 0,180,200,20
END

IDD_DLGMESSAGE DIALOG 100, 100, 200, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pit->Car Message"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Message",IDC_LBLMESSAGE,5,5,100,12
    EDITTEXT        IDC_EDTMESSAGE,105,5,100,12
    LTEXT           "Time to display (m)",IDC_LBLTIME,5,19,100,12
    EDITTEXT        IDC_EDTTIME,105,19,100,12
    LTEXT           "Send attempt time (m)",IDC_LBLATTEMPTTIME,5,33,100,12
    EDITTEXT        IDC_EDTATTEMPTTIME,105,33,100,12
    PUSHBUTTON      "OK", IDOK, 5,47,100,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,47,100,12
END

// dialog for selecting which race in a DB we want to use
IDD_SELECTRACE DIALOG 100, 100, 200, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select race to load"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_RACE, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 0,0,200,280
    PUSHBUTTON      "OK", IDOK, 5,280,95,12
    PUSHBUTTON      "Cancel", IDCANCEL, 100,280,95,12
END

IDD_PROGRESS DIALOG 100, 100, 200, 30
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Working..."
FONT 8, "MS Shell Dlg"
BEGIN
END

IDM_OPTIONS MENU
BEGIN
    POPUP "&Options"
    BEGIN
        MENUITEM "Km/h", ID_OPTIONS_KMH
        MENUITEM "MPH", ID_OPTIONS_MPH
        MENUITEM "m/s", ID_OPTIONS_MS
        MENUITEM SEPARATOR
        MENUITEM "Show all-time bests",ID_OPTIONS_SHOWBESTS
        MENUITEM "Show driver bests",ID_OPTIONS_SHOWDRIVERBESTS
        MENUITEM SEPARATOR
        MENUITEM "Draw lines between data points",ID_OPTIONS_DRAWLINES


    END
    POPUP "&Data"
    BEGIN
        MENUITEM "Switch Race Session", ID_DATA_SWITCHSESSION
        MENUITEM "Open .wflp DB", ID_DATA_OPENDB
		MENUITEM "Export selected laps to CSV format", ID_DATA_DASHWARE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Show IPs", ID_HELP_IPS
    END
END
